.header {
    display: flex;
    justify-content: space-between;
   /* border: 1px solid black;*/
} 

.logo{
    height: 75px;
    width: 100px;
    margin-left: 50px;
}

.navigation-component{
    padding: 0px 20px;
    font-size: 20px;
}

.search-component{
    display: flex;
    padding: 20px 1px;
    /*border: 1px solid black;*/
    padding-block: 10px;
}

.navigation-component > ul{
    display: flex;
}

.navigation-component > ul > li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.card-component {
    width: 200px; 
    background-color:azure;
    padding: 5px;
    margin-top: 20px;
}

.card-component:hover {
    border: 1px solid black;
    cursor: pointer;
}

.card-component > h3{
    padding-left: 20px;
}

.restaurant-image {
    width: 100%;
}

.cards{
    display:flex;
    flex-wrap: wrap;
    margin: 5px;
}